[submodule "testez"]
	path = vendor/testez
	url = https://github.com/roblox/testez
[submodule "vendor/t"]
	path = vendor/t
	url = https://github.com/osyrisrblx/t
[submodule "vendor/tag-editor"]
	path = vendor/tag-editor
	url = https://github.com/kennethloeffler/roblox-tag-editor
