[submodule "testez"]
	path = vendor/testez
	url = https://github.com/roblox/testez
[submodule "vendor/t"]
	path = vendor/t
	url = https://github.com/osyrisrblx/t
[submodule "vendor/StudioComponents"]
	path = vendor/StudioComponents
	url = https://github.com/sircfenner/StudioComponents
[submodule "vendor/roact"]
	path = vendor/roact
	url = https://github.com/roblox/roact
[submodule "vendor/roact-rodux"]
	path = vendor/roact-rodux
	url = https://github.com/roblox/roact-rodux
[submodule "vendor/rodux"]
	path = vendor/rodux
	url = https://github.com/roblox/rodux
[submodule "vendor/llama"]
	path = vendor/llama
	url = https://github.com/freddylist/llama
